<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <base href="/">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/icons/Icon-60.png">

    <!-- Win8 Tile Color-->
    <meta name="msapplication-TileColor" content="#D00000">

    <!-- iOS Icons -->
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/Icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/Icon-76@2x.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/Icon-60@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/Icon-76@2x.png">

    <!-- build:js(.) scripts/webcomponents.js -->
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <!-- endbuild -->

    <!-- UNL Components -->
    <link rel="import" href="elements/unl-header/unl-header.html">
    <link rel="import" href="elements/unl-layout/unl-layout.html">
    <link rel="import" href="elements/unl-layout-kiosk/unl-layout-kiosk.html">
    <link rel="import" href="elements/unl-panel/unl-panel.html">
    <link rel="import" href="elements/unl-toolbar/unl-toolbar.html">
    <link rel="import" href="elements/unl-list-group/unl-list-group.html">
    <link rel="import" href="elements/unl-list-item/unl-list-item.html">
    <link rel="import" href="elements/unl-list-item-label/unl-list-item-label.html">
    <link rel="import" href="elements/unl-list-item-user/unl-list-item-user.html">
    <link rel="import" href="elements/unl-list-item-header/unl-list-item-header.html">
    <link rel="import" href="elements/unl-icon-button/unl-icon-button.html">
    <link rel="import" href="elements/unl-ncard-input/unl-ncard-input.html">
    <link rel="import" href="elements/unl-toast/unl-toast.html">
    <link rel="import" href="elements/unl-modal/unl-modal.html">
    <link rel="import" href="elements/unl-empty-content/unl-empty-content.html">
    <link rel="import" href="elements/unl-drawer-toggle/unl-drawer-toggle.html">
    <link rel="import" href="elements/unl-toggle-button/unl-toggle-button.html">
    <link rel="import" href="elements/paper-ripple/paper-ripple.html">
    <!-- End UNL Components -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="<%= scriptAppName %>">
    <unl-modal id="unl-modal" type="takeover"></unl-modal>
    <!-- Login Modal Content -->
    <div id="modal-content-login" ng-include src="'views/partials/modal-login.html'" onload="showLoginWindow()"></div>
    <!-- End Modal Content -->

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <unl-layout>
        <div drawer flex vertical layout>
            <unl-list-group>
                <unl-list-item-user user='{{currentUser | json}}'></unl-list-item-user>
                <div ng-show="currentUser">
                <!-- Authenticated user options -->
                <unl-list-item-header>Options</unl-list-item-header>
                <unl-list-item-label heading="Log out" link><a ng-href="#" ng-click="logOutCurrentUser()"></a></unl-list-item-label>
                <!-- End authenticated user options -->
                </div>
            </unl-list-group>
        </div>
        <div main vertical layout ng-view="" ng-class="pageAnimationClass">
        </div>
    </unl-layout>
    <unl-toast text=""></unl-toast>
    <!-- End application content -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
  </body>
</html>
